<div class="mt-4">
    <h3>Đăng Khóa học</h3>

    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Mô tả khóa học</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">image</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">videoId</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        
        
        <button type="submit" class="btn btn-primary">thêm khóa học</button>
    </form>

</div>